
body {
margin: 0;
background: #1F2937;
text-align: center;
padding-bottom: 450px;
}

header{
  height: 285px;
  background: #6943FF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Inter';
  }

input{
box-sizing: border-box;

position:absolute;
width: 120px;
height: 83px;
text-align: center;
top: 101px;
border: 2px solid #B295FF;
border-radius: 5px;
background-color: #6943FF;
font-size: 55px;
font-family: 'Inter';
color: #FFFFFF;
  }
  

button{
position: absolute;
width: 120px;
height: 42px;
top: 209px;
background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 5px;
border: none;
font-family: 'Inter';
}

.grid-lists{
  background: #1F2937;
  display: inline-block;
  width: 500px;
  }

.grid-1{
  
position: absolute;
width: 500px;
height: 108.57px;
margin: 20px auto;
top: 321px;

background: #273549;
border-radius: 4.68077px 0px 0px 0px;
  }

.grid-2{
position: absolute;
width: 500px;
height: 108.57px;
margin: 20px auto;

top: 453px;

background: #273549;
border-radius: 4.68077px 0px 0px 0px;

  }

.grid-3{
position: absolute;
width: 500px;
height: 108.57px;
margin: 20px auto;
top: 585px;


background: #273549;
border-radius: 4.68077px 0px 0px 0px;


  }

h3{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;


text-align: center;

color: #CCC1FF;
  }

.values{
position: absolute;
width: 346px;
height: 25px;
left: 77px;
top: 65px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

text-align: center;
color: #FFFFFF;

}
  
